<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika bukan file/folder yang ada, arahkan ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule mod_php.c>
    php_value upload_max_filesize 10M
    php_value post_max_size 12M
</IfModule>

# Blokir akses langsung ke file sensitif
<FilesMatch "\.(env|md|sql|log)$">
    Require all denied
</FilesMatch>